h2{
    color: #022c63ef;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
  }
th{
    color: rgb(55, 95, 183);
}  
table{
    margin-left: 5%;
}