<body>
  <form [formGroup]="EditForm" #EditNgForm="ngForm">
    <h2 class=" text-blue-500">Modifier le profil</h2>
    <label class="w-full" ml-1 text-blue-500>Nom_particulier</label>
    <input type="text" formControlName="nom_particulier">

    <label class="w-full">Prenom_particulier</label>
    <input type="text" formControlName="prenom_particulier">

    <label class="w-full">Email</label>
    <input type="email" formControlName="email">


    <label class="w-full">Mot_de_passe</label>
    <div class="mat-form-field-flex">
      <input matInput [type]="passwordField.type" formControlName="password">
      <button mat-icon-button type="button"
        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
        matSuffix>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
          [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
          [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
      </button>
    </div>

    <label class="w-full">Confirme_mot_de_passe</label>
    <div class="mat-form-field-flex">
      <input matInput [type]="confirmField.type" formControlName="confirmPassword">
      <button mat-icon-button type="button"
        (click)="confirmField.type === 'confirmPassword' ? confirmField.type = 'text' : confirmField.type = 'Password'"
        matSuffix>
        <mat-icon class="icon-size-5" *ngIf="confirmField.type === 'password'"
          [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon class="icon-size-5" *ngIf="confirmField.type === 'text'"
          [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
      </button>
    </div>

    <label class="w-full">Adresse_postale</label>
    <input type="text" formControlName="adresse_postale">

    <label class="w-full">Code_postale</label>
    <input type="text" formControlName="code_postal">

    <label class="w-full">Telephone</label>
    <input type="text" formControlName="telephone">

    <button class="fuse-mat-button-large w-full bg-gradient-to-r from-blue-900 to-blue-300"
      (click)="editProfile()">Modifier</button>
  </form>
</body>