#mapid {
  width: 100%;
  height: 700px;
}
/*#table-container {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }*/
  table {
    border: 1px solid black;
    background-color: rgb(255, 234, 152);
    width: 900px;
  }
  

