#map{
    width: 100%;
    height: 700px;
  }

  button {
    background:linear-gradient(rgb(246, 208, 85),rgb(236, 186, 69),rgb(254, 167, 6)); 
    
    //background:linear-gradient(rgb(178, 209, 248),rgb(156, 193, 249),rgb(112, 157, 255)); 
    border:none; 
    color: white; 
    padding: 12px 24px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
   font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
   top:2%;
   left:100%
  }